*{
    margin:0 ;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
}

.Bgimage{
    width:100%;
    height:100vh;
   /*---- background-image:linear-gradient(rgba(0,0,0,0.3),transparent), url("IMAGES/GUITARBLACK.jpg");----*/
    background: radial-gradient(#E5D3B3,#FFBD59);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 8%;
    position: relative;
    max-height: 4000px;
    min-height: 1000px;
    height: 100%;
    background-attachment: fixed ;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    
}



nav{
    display:flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    
}

.logo{
    width:100px;
    border-radius: 120px;
    cursor: pointer;
}

.Cart{
    width:80px;
    border-radius: 50px;
    cursor: pointer;
}

.cart-container i {
    color:#000;
    text-decoration: none;
    padding: 2px 4px;
    margin-right: 5px;
    border:1px solid #000;
    display: flex;
    align-items: center;
    transition:color 0.5s;
    transition:background 0.2s;

}

.cart-container :hover{
background: black;
color:#fff;

}

nav ul{
    flex:1;
    text-align: right;
    padding-right: 30px;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:50px 30px;
    
}

nav ul li a {
    color:#000;
    text-decoration: none;
    position:relative;
    font-family: 'Bebas Neue', cursive;
    
}

nav ul li a::after {
    content: '';
    width:0;
    height:3px;
    position:absolute;
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    background:#fff;
    transition: width 0.2s;

}

nav ul li a:hover::after {
    width:50%;
    background:#000;
    
}


.navhov :hover{
    color:#000;
    
      
}

/*----cartpage---*/
/*
.cart-page{ 
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;

}

th{
    text-align: left;
    padding:5px;
    color:#fff;
    background: #FFBD59;
    font-weight: normal;
}

td{
    padding:10px 5px;
}

td input{
    width:40px;
    height:30px;
    padding:5px;
}

td a{
    text-decoration: none;
    color: #DC143C;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 170px;
    margin-right: 10px;
}*/

.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    max-width:650px;
    padding-bottom: 100px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container i{
    font-size: 25px;
    color: #DC143C;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom:  4px solid #FFBD59;
    margin:0 auto;
}

.product-header .total{
    margin-left: 5%;
}

.align{
    display:flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.align .product {
    flex:1;
    text-align: right;
    padding-right: 30px;
    
}


.align .price .quantity .total {
    display: inline-block;
    list-style: none;
    margin:10px 30px;
    padding: 0 20%;
}

.product-title {
    width: 100%;
    
}

.price {
    width: 15%;
    border-bottom: 1px solid #FFBD59;
    display: flex;
    align-items: center;
}

.quantity{
   width: 20%;
   border-bottom: 1px solid #FFBD59;
   display: flex;
   align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid #FFBD59;
    display: flex;
    align-items: center;
 }
                    
 .product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #000;
 }


 .basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
 }

 .basketTotalTitle {
     width: 30%;
 }

 .basketTotal{
     width: 10%;
 }

 /*footer*/
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family:'Bebas Neue', cursive ;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin:10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;

}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a :hover i{
    color: #000;

}


.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}   

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}